 <!DOCTYPE html>
<html>
<head>
<title>Registration ::::</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="static/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
    <body class="page-container-boxed">
        <div class="container">
                <div class="header col-md-12">
                    <h1><a href="/welcome">Attendance Register</a></h1>
                    <hr>
                    
                </div>

 <!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    
        <div class="row">
            <div class="col-md-12">
                
                <form class="form-horizontal" method="post" action="/">
    <div class="panel panel-default"> 
    <div class="panel-heading">
    <h3 class="panel-title">
    <strong>Registration</strong> Form</h3>
    <div class="col-lg pull-right">
                            {% for messages in get_flashed_messages() %}
            <span class="success">{{ messages }}</span>
            {% endfor %}
            {% if error %}
            <span class="error"><strong>Error:</strong> {{ error }}</span>
        {% endif  %}
        </div>
        <div class="pull-right col-md-3"><a href="/dashboard" class="btn btn-md btn-block btn-primary active">Back to Dashboard</a></div>
    </div>                     
        <div class="panel-body" align="center">
        <p>Please fill all fields. Make sure all customer's information is entered properly and accurately.
        </p>                   
        </div>    

                         <div class="panel-body">

                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Full Name</label>
                            <div class="col-md-6 col-xs-12">                                            
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-user"></span></span>
                                    <input type="text" class="form-control" required  name ="name" />
                                </div>                                            
                                <span class="help-block">Your Firstname and Lastname is Requred</span>
                            </div>
                        </div>
                        
                        <div class="form-group">                                        
                            <label class="col-md-3 col-xs-12 control-label">Phone Number</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-phone"></span></span>
                                    <input type="number" class="form-control" required  name ="phone_number"/>
                                </div>            
                                <span class="help-block">Please Enter a Valid Phone Number</span>
                            </div>
                        </div>
                        
                                   <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Email</label>
                            <div class="col-md-6 col-xs-12">                                            
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-envelope-o"></span></span>
                                    <input type="email" class="form-control" required  name="email" />
                                </div>                                            
                                <span class="help-block">A Valid Email is Required</span>
                            </div>
                        </div>          

                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Address</label>
                            <div class="col-md-6 col-xs-12">                                            
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-home"></span></span>
                                    <input type="text" class="form-control" required  name="address" />
                                </div>                                            
                                <span class="help-block">Your Home Address</span>
                            </div>
                        </div>                         
                       
                       
                        
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Table Type</label>
                            <div class="col-md-6 col-xs-12">                                                                                            
                                <select class="form-control select" required name="table" placeholder="Select a Table type">
                                    <option></option>
                                    <option>None</option>
                                    <option>Single's Table</option>
                                    <option>Table for Two (2 seats)</option>
                                    <option>Family Table (5 seats)</option>
                                    <option>Grand Family Table (10 seats)</option>
                                </select>
                                <span class="help-block">Table Reservation</span>
                            </div>
                        </div>
                        
                        
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Agree</label>
                            <div class="col-md-6 col-xs-12">                                                                                                                                        
                                <label class="check"><input type="checkbox" class="icheckbox"  required/> I agree to the <a href= '#'>Registration Conditions</a>s</label>
                                </div>
                        </div>

                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-default" type="reset">Clear Form </button>                                    
                        <button class="btn btn-primary pull-right" type="submit">Submit <span class="fa fa-angle-double-right"></span></button>
                    </div>
                </div>
                </form>
                
            </div>
        </div>                    
        
    </div>
    <!-- }}END PAGE CONTENT WRAPPER -->                                                
            </div>            
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->