<!DOCTYPE html>
<html>
<head>
<title>Attendance Register :: Login</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
	<body class="page-container-boxed">
		<div class="container">
				<div class="pageheader col-md-12">

					<h1><a href="/">Attendance Register</a></h1>
					<hr>
					{% for messages in get_flashed_messages() %}
	{{ message }}
{% endfor %}
				</div>
				<!-- Row for search and register -->
<div class="row">

<!-- register -->
	<div class="col-md-4">
<a href="/admin_insert" class="btn btn-md btn-block btn-primary mb-control active">Register New Person</a>
		
	</div>
<!-- register ends -->
<!-- Search -->
	<div class="col-md-8">
		  <div class="form-group ">
    <label class="control-label" for="formGroupInputLarge"></label>
    <div class="col-sm-12">
    <div class="input-group">
    <input class="form-control" type="text" id="formGroupInputLarge" placeholder="Search Users ">
    <span class="input-group-addon "><span class="fa fa-search"></span></span>
      
    </div>
    </div>
  </div>
  
	</div>
	<!-- search ends -->
</div>
<br>
<hr>
<!-- Row for search and register ends -->
<!-- list of people registered -->
<div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><strong>Registered</strong> Users</h3>
                                                                    </div>
	
<table class="table datatable">
<thead>
    <tr role=r"row">
        <th>Name</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Address</th>
         <th>Table Number</th>
        <th> ::Delete - Edit::</th>
           </tr>
</thead>
<tbody>	<!-- On rows -->
{% for users in users%}
<!-- On cells (`td` or `th`) -->
  <td class="">{{users.name}}</td>
  <td class="">{{users.phone_number}}</td>
  <td class="">{{users.email}}</td>
  <td class="">{{users.address}}</td>
  <td class="">{{users.table}}</td>
  <td class=""><button class="btn btn-danger  btn-md" onclick="delete_row('trow_1');"><span class="fa fa-times"></span></button><strong> - </strong><button class="btn btn-primary  btn-md"><span class="fa fa-pencil"></span></button></td>
</tr>
{% endfor %}
</tbody>
</table>

</div>
</div>
 
        <!-- info -->
        <div class="message-box message-box-info animated fadeIn" id="message-box-info">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-info"></span> Information</div>
                    <div class="mb-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at tellus sed mauris mollis pellentesque nec a ligula. Quisque ultricies eleifend lacinia. Nunc luctus quam pretium massa semper tincidunt. Praesent vel mollis eros. Fusce erat arcu, feugiat ac dignissim ac, aliquam sed urna. Maecenas scelerisque molestie justo, ut tempor nunc.</p>
                    </div>
                    <div class="mb-footer">
                        <button class="btn btn-default btn-lg pull-right mb-control-close">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end info -->


</body>
<script src="static/bootstrap.min.js"></script>
<script src="static/jquery.min.js"></script>
<script src="static/jquery-ui.min.js"></script>
<script src="static/jquery-migrate.minjs"></script>


        <script type="text/javascript" src="static/jquery.min.js"></script>
        <script type="text/javascript" src="static/jquery-ui.min.js"></script>
        <script type="text/javascript" src="static/bootstrap.min.js"></script>        
        <!-- END PLUGINS -->

        <!-- START THIS PAGE PLUGINS-->        
        <script type='text/javascript' src='static/icheck.min.js'></script>        
        <script type="text/javascript" src="static/jquery.mCustomScrollbar.min.js"></script>
        <script type="text/javascript" src="static/scrolltopcontrol.js"></script>
        
        <script type="text/javascript" src="static/raphael-min.js"></script>
        <script type="text/javascript" src="static/morris.min.js"></script>       
        <script type="text/javascript" src="static/rickshaw/d3.v3.js"></script>
        <script type="text/javascript" src="static/rickshaw.min.js"></script>
        <script type='text/javascript' src='static/jquery-jvectormap-1.2.2.min.js'></script>
        <script type='text/javascript' src='ststic/jquery-jvectormap-world-mill-en.js'></script>                
        <script type='text/javascript' src='static/bootstrap-datepicker.js'></script>                
        <script type="text/javascript" src="staticowl.carousel.min.js"></script>                 
        
        <script type="text/javascript" src="static/moment.min.js"></script>
        <script type="text/javascript" src="static/daterangepicker.js"></script>
        <!-- END THIS PAGE PLUGINS-->        

        <!-- START TEMPLATE -->
        <script type="text/javascript" src="js/settings.js"></script>
        
        <script type="text/javascript" src="js/plugins.js"></script>        
        <script type="text/javascript" src="js/actions.js"></script>
        
        <script type="text/javascript" src="js/demo_dashboard.js"></script>
</html>

<span></span>